In [1]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
crime = pd.read_csv("data/crime.csv",sep=";").replace("x",0).fillna(0)

In [7]:
crime["Buurten"] = crime["Buurten"].str.split()

In [8]:
crime["Buurtcode"] = [item[0] for item in crime["Buurten"]]

In [42]:
crime_data = crime[["Totaal|2018","Buurtcode"]].set_index("Buurtcode").rename(columns={"Totaal|2018":"total"})

In [47]:
crime_data.to_csv("output/crime.csv")

In [46]:
crime_data

           total
Buurtcode
01         211.0
02         440.0
03         619.0
04         291.0
05          85.0
...          ...
117         73.0
118        178.0
119        164.0
120        212.0
121         76.0

[114 rows x 1 columns]