In [27]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [35]:
daycares = pd.read_csv("data/daycare.csv",sep=";").replace("x",0).fillna(0)
buurt_name_list = pd.read_csv("data/buurten.csv",sep=";")

In [36]:
daycares["total"] = daycares["Aantal kindplaatsen kinderopvang (dagopvang & vm. peuterspeelzalen)|2019"].astype(int) + daycares["Aantal kindplaatsen buitenschoolse kinderopvang|2019"].astype(int)

In [37]:
daycares["tot_c"] = daycares["total"] / daycares["Aantal inwoners per 1-1|2019"].fillna(0)

In [38]:
daycares = daycares.drop(columns=["Aantal kindplaatsen kinderopvang (dagopvang & vm. peuterspeelzalen)|2019","Aantal kindplaatsen buitenschoolse kinderopvang|2019","Aantal inwoners per 1-1|2019"])

In [39]:
daycares["Wijken"] = daycares["Wijken"].str.split()

In [40]:
daycares["Wijkcode"] = [item[0] for item in daycares["Wijken"]]

In [44]:
buurten = buurt_name_list.drop(columns=["WIJKBUURTCODE","OCE_ID","OPPERVLAKTE","OMTREK"])

In [52]:
daycares["Wijkcode"] = daycares["Wijkcode"].astype(int)

In [57]:
daycare_data = daycares.merge(buurten, left_on='Wijkcode', right_on='WIJKCODE').drop(columns=["Wijken","Wijkcode","BUURTNAAM","WIJKCODE"]).set_index("BUURTCODE")

In [58]:
daycare_data.to_csv("output/daycare.csv")

In [59]:
daycare_data

           total     tot_c
BUURTCODE
92           332  0.069224
81           332  0.069224
91            61  0.025924
90            61  0.025924
97           181  0.028955
...          ...       ...
116           70  0.569106
121         1222  0.057978
118         1222  0.057978
119         1222  0.057978
120         1222  0.057978

[114 rows x 2 columns]