In [12]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
daycares = pd.read_csv("data/daycare.csv",sep=";").replace("x",0).fillna(0)
buurt_name_list = pd.read_csv("data/buurten.csv",sep=";")

In [14]:
daycares["total"] = daycares["Aantal kindplaatsen kinderopvang (dagopvang & vm. peuterspeelzalen)|2019"].astype(int) + daycares["Aantal kindplaatsen buitenschoolse kinderopvang|2019"].astype(int)

In [15]:
daycares["tot_c"] = round(daycares["total"] / daycares["Aantal inwoners per 1-1|2019"].fillna(0),3)

In [16]:
daycares = daycares.drop(columns=["Aantal kindplaatsen kinderopvang (dagopvang & vm. peuterspeelzalen)|2019","Aantal kindplaatsen buitenschoolse kinderopvang|2019","Aantal inwoners per 1-1|2019"])

In [17]:
daycares["Wijken"] = daycares["Wijken"].str.split()

In [18]:
daycares["Wijkcode"] = [item[0] for item in daycares["Wijken"]]

In [19]:
buurten = buurt_name_list.drop(columns=["WIJKBUURTCODE","OCE_ID","OPPERVLAKTE","OMTREK"])

In [20]:
daycares["Wijkcode"] = daycares["Wijkcode"].astype(int)

In [21]:
daycare_data = daycares.merge(buurten, left_on='Wijkcode', right_on='WIJKCODE').drop(columns=["Wijken","Wijkcode","BUURTNAAM","WIJKCODE"]).set_index("BUURTCODE")

In [25]:
daycare_data = daycare_data.replace("",0)

In [30]:
daycare_data.to_csv("output/daycare.csv")

In [29]:
daycare_data

           total  tot_c
BUURTCODE
92           332  0.069
81           332  0.069
91            61  0.026
90            61  0.026
97           181  0.029
...          ...    ...
116           70  0.569
121         1222  0.058
118         1222  0.058
119         1222  0.058
120         1222  0.058

[114 rows x 2 columns]