In [1]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
ethnicity = pd.read_csv("data/ethnicity.csv",sep=";").rename(columns={'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Antilliaans|2019':'c_antilles',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Autochtoon|2019':'c_dutch',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Indonesisch|2019':'c_indonesian',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Marokkaans|2019':'c_morocco',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Oost-Europees|2019':'c_eastern_europe',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig niet-Westers allochtoon|2019':'c_other_non_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig Westers allochtoon|2019':'c_other_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Surinaams|2019':'c_suriname',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Turks|2019':'c_turkey'}).fillna(0).replace("x",0)

In [33]:
ethnicity["Buurten"] = ethnicity["Buurten"].str.split()

In [34]:
ethnicity["Buurten"] = [item[0] for item in ethnicity["Buurten"]]

In [37]:
ethnicity = ethnicity.rename(columns={'Buurten':'Buurtcode'}).set_index("Buurtcode")

In [39]:
ethnicity.to_csv("output/ethnicity.csv")

In [40]:
ethnicity

,c_antilles,c_dutch,c_indonesian,c_morocco,c_eastern_europe,c_other_non_western,c_other_western,c_suriname,c_turkey
Buurtcode,,,,,,,,,
01,26,2242.0,70,15,96,155,248,45,22
02,37,2763.0,107,38,154,234,422,85,26
03,50,3623.0,212,23,183,486,809,83,26
04,40,2523.0,149,56,141,324,569,78,16
05,9,436.0,47,6,10,65,190,6,0
...,...,...,...,...,...,...,...,...,...
117,0,26.0,0,0,0,0,0,0,0
118,147,3003.0,164,191,108,664,273,664,234
119,50,2497.0,144,138,62,490,226,457,144
120,108,5353.0,296,342,134,788,454,961,184
121,67,1523.0,80,189,66,302,140,326,108