In [14]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
ethnicity = pd.read_csv("data/ethnicity17.csv",sep=";").rename(columns={'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Antilliaans|2017':'c_antilles',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Autochtoon|2017':'c_dutch',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Indonesisch|2017':'c_indonesian',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Marokkaans|2017':'c_morocco',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Oost-Europees|2017':'c_eastern_europe',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig niet-Westers allochtoon|2017':'c_other_non_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig Westers allochtoon|2017':'c_other_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Surinaams|2017':'c_suriname',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Turks|2017':'c_turkey'}).fillna(0).replace("x",0)

In [17]:
ethnicity["Buurten"] = ethnicity["Buurten"].str.split()

In [18]:
ethnicity["Buurten"] = [item[0] for item in ethnicity["Buurten"]]

In [19]:
ethnicity = ethnicity.rename(columns={'Buurten':'Buurtcode'})

In [21]:
ethnicity["Buurtcode"] = ethnicity["Buurtcode"].astype(int)

In [23]:
ethnicity = ethnicity.set_index("Buurtcode")

In [25]:
ethnicity.to_csv("output/ethnicity17.csv")

In [26]:
ethnicity

,c_antilles,c_dutch,c_indonesian,c_morocco,c_eastern_europe,c_other_non_western,c_other_western,c_suriname,c_turkey
Buurtcode,,,,,,,,,
1,29,2236,81,12,74,133,226,49,19
2,35,2477,92,26,117,199,325,72,12
3,48,3638,214,22,166,461,754,85,31
4,42,2535,140,41,135,282,549,80,13
5,5,482,49,7,11,56,190,7,0
...,...,...,...,...,...,...,...,...,...
117,0,25,0,0,0,0,0,0,0
118,141,3030,168,164,85,554,248,625,213
119,47,2627,151,142,55,370,245,456,139
120,118,5429,303,305,116,703,419,982,168
121,61,1555,70,170,58,220,127,333,106