In [2]:
# import necessary packages
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
ethnicity = pd.read_csv("data/ethnicity20.csv",sep=";").rename(columns={'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Antilliaans|2020':'c_antilles',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Autochtoon|2020':'c_dutch',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Indonesisch|2020':'c_indonesian',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Marokkaans|2020':'c_morocco',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Oost-Europees|2020':'c_eastern_europe',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig niet-Westers allochtoon|2020':'c_other_non_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Overig Westers allochtoon|2020':'c_other_western',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Surinaams|2020':'c_suriname',
       'Kubus aantal inwoners (leeftijd, geslacht, migratieachtergrond)|Turks|2020':'c_turkey'}).fillna(0).replace("x",0)

In [4]:
ethnicity["Buurten"] = ethnicity["Buurten"].str.split()

In [5]:
ethnicity["Buurten"] = [item[0] for item in ethnicity["Buurten"]]

In [6]:
ethnicity = ethnicity.rename(columns={'Buurten':'Buurtcode'})

In [10]:
ethnicity = ethnicity.astype(int)

In [8]:
ethnicity = ethnicity.set_index("Buurtcode")

In [12]:
ethnicity.to_csv("output/ethnicity20.csv")

In [13]:
ethnicity

,c_antilles,c_dutch,c_indonesian,c_morocco,c_eastern_europe,c_other_non_western,c_other_western,c_suriname,c_turkey
Buurtcode,,,,,,,,,
1,32,2236,78,17,107,171,254,47,20
2,47,2919,108,62,174,252,470,90,41
3,55,3573,216,25,214,538,862,90,21
4,48,2500,147,53,140,342,596,73,17
5,9,398,43,6,13,67,200,5,5
...,...,...,...,...,...,...,...,...,...
117,0,26,0,0,0,0,0,0,0
118,157,2928,165,205,118,731,292,647,230
119,42,2415,136,152,67,532,230,442,151
120,125,5151,291,346,141,838,454,964,188
121,62,1450,76,181,63,331,149,338,108